<% failures.each do |failure| %>
  <div>
    Failed to import record with id <%= failure.id %> and timestamp <%= failure.timestamp %>:

    <ul>
      <% failure.messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>