<%= styled_form_tag csv_import_mappings_path, method: :post, multipart: true do %>
  <fieldset class="form--fieldset">
    <legend class="form--fieldset-legend">CSV Files</legend>

    <div class="form--field">
      <%= styled_label_tag  'mappings_file', "Process Id/Aspect - Mapping" %>
      <div class="form--field-container">
        <%= styled_file_field_tag "mappings_file" %>
      </div>
    </div>

  <%= styled_submit_tag 'Import' %>
<% end %>